#################
## SiadCar
#################

design/**/*
template/bower_components/**/*
template/node_modules/**/*

protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db

assets/*
assets/**/*
themes/classic/views/