#################
## SiadCar
#################

design/**/*
template/bower_components/**/*
template/node_modules/**/*

project/protected/runtime/*
project/protected/runtime/**/*
project/!protected/runtime/.gitignore
project/protected/data/*.db

project/assets/*
project/assets/**/*
project/themes/classic/views/