#################
## SiadCar
#################

design/**/*
template/bower_components/**/*
template/node_modules/**/*

protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/