extends layouts/_login

block content
	.limiter__content
		h1.title__section Restablecimiento de contraseña
		.row
			.col-xs-12
				p Ingresa la dirección de correo electrónico que usaste para registrarte. Te enviaremos un enlace para restablecer tu contraseña. Si no registraste un correo electrónico, contacta al administrador.

			.col-xs-12
				form.form(action="login__confirm-res-password.html" method="GET")
					.form__section
						input.form__input(name="username", type="email", placeholder="Dirección de correo electrónico", required, autocomplete="off")
					.form__section
						button.btn.btn__long(type="submit") Enviar