extends layouts/_login

block content
	.limiter__content
		h1.title__section CONFIRMACIÓN EMAIL
		.row
			.col-xs-12
				.row.center-xs
					.col-xs-12
						img(src="images/confirm__email.png",alt="Confirmar email")
			.col-xs-12
				p Un email ha sido enviado a su correo electrónico con las instrucciones de recuperación de contraseña.
			.col-xs-12
				a.btn.btn__long(href="login.html") Regresar